name: Test

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - develop
  workflow_dispatch:

concurrency:
  group: ${{github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        id: node-setup
        uses: ./.github/actions/node-setup-action
        with:
            node-version: '22'
      
      - name: Prisma Generate
        run: npm run prisma:generate
      - name: Run Build
        run: npm run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        id: node-setup
        uses: ./.github/actions/node-setup-action
        with:
            node-version: '22'

      - name: Run Lint
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        id: node-setup
        uses: ./.github/actions/node-setup-action
        with:
            node-version: '22'
      
      - name: Prisma Generate
        run: npm run prisma:generate
    
      - name: Run Tests
        run: npm run test

      - name: Run Test Coverage Report
        run: npm run test:cov

      - name: Upload Test Coverage
        uses: actions/upload-artifact@v4
        with:
            name: report-test-coverage
            path: ./coverage



